# Node.js
node_modules/
npm-debug.log
yarn-error.log

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Build output
dist/
build/
out/

# Dependency directories
jspm_packages/
bower_components/

# Testing
coverage/

# Environment variables
.env

# Miscellaneous
.DS_Store
Thumbs.db
# Local Netlify folder
.netlify
